        /* This applies to iPads & tablets up to 768px  -- #0E839F bg code*/
        
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        header {
            background-color: #badcff;
            background-image: url(photos/bgsm.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: auto;
        }
        
        li {
            list-style: none;
        }
        
        a {
            color: #012236;
            text-decoration: none;
        }
        
        .menu {
            height: 64px;
            display: flex;
            justify-content: space-between;
            padding: 10px 24px;
            background-color: #badcff;
            opacity: 90%;
        }
        
        .menu li {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
        }
        
        .nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
        }
        
        .nav-link {
            transition: 0.2s;
        }
        
        .nav-link:hover {
            color: #f1f1f1;
        }
        
        .hamburger {
            display: none;
            cursor: pointer;
        }
        
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: white;
        }
        
        .logo img {
            width: auto;
            height: 4rem;
            z-index: 1;
            position: absolute;
            left: -10px;
            top: 0px;
        }
        
        header h1 {
            font-family: 'Unbounded', cursive;
            width: 40%;
            font-size: 1.6rem;
            margin-top: 40px;
            padding: 0px 0px 20px 25px;
            color: #012236;
        }
        
        .appointment {
            display: none;
        }
        
        .appointment:hover {
            cursor: pointer;
        }
        
        body {
            font-family: 'Source Sans Pro', sans-serif;
            color: #3b3c3c;
        }
        
        .form_section h1,
        .offer_section h1 {
            font-size: 1.3rem;
            padding: 10px 25px 10px 25px;
            color: #012236;
        }
        
        .offer_section h2 {
            font-size: 1.2rem;
            color: #012236;
        }
        
        .offer_intro {
            padding: 0px 25px 25px 25px;
            text-align: center;
        }
        
        footer {
            background-color: #012236;
            color: #f1f1f1;
        }
        
        .socialmedia {
            display: flex;
            flex-direction: row;
            gap: 5px;
            padding-right: 10px;
        }
        
        .socialmedia a {
            color: #f1f1f1;
            font-size: 30px;
        }
        
        .socialmedia a:hover {
            color: #badcff;
        }
        
        .hamburger {
            display: block;
        }
        
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
        
        .nav-menu {
            position: fixed;
            right: -100%;
            gap: 0;
            top: 48px;
            flex-direction: column;
            background-color: #badcff;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            padding-bottom: 25px;
            padding-top: 30px;
        }
        
        .nav-menu li {
            padding: 5px;
        }
        
        .menu-link {
            margin: 16px 0px;
        }
        
        .nav-menu.active {
            right: 0;
        }
        
        .offer_container {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            gap: 15px;
            flex-wrap: wrap;
            padding: 10px 0px 40px 0px;
        }
        
        .offer {
            display: flex;
            border-radius: 12px;
            border: #72797d solid 1px;
            flex-direction: row;
            justify-content: flex-start;
            width: 80%;
            flex-wrap: nowrap;
            background-color: #fafafa;
        }
        
        .offer img {
            width: 50px;
        }
        
        .offer-img {
            display: flex;
            justify-content: flex-start;
            flex-basis: 20%;
            padding: 10px;
        }
        
        .offer-body {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        
        .form {
            margin-top: 20px;
            border-top: #012236 2px solid;
        }
        
        form {
            margin: 0px 0px 50px 0px;
            padding: 0 25px;
        }
        
        .form_img img {
            display: none;
        }
        
        label {
            color: #012236;
        }
        
        input {
            display: block;
            border-radius: 4px;
            padding: 4px;
            width: 100%;
            border: #012236 1px solid;
        }
        
        input[type=submit] {
            width: 30%;
            padding: 10px 5px;
            background-color: #012236;
            color: #f1f1f1;
        }
        
        textarea {
            border-radius: 4px;
            border: #012236 1px solid;
            width: 100%;
        }
        
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 10px 25px;
            grid-gap: 10px;
        }
        
        .openinghours th {
            padding-right: 15px;
        }
        
        .contact-heading,
        .address-heading {
            display: grid;
            grid-template-columns: 30px 1fr;
        }
        
        .address-heading {
            padding-top: 10px;
        }
        
        .contact p {
            padding-left: 30px;
            font-size: 0.8rem;
        }
        
        .openinghours td {
            font-size: 0.8rem;
        }
        
        #map {
            display: none;
        }
        
        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
        }
        
        .author {
            padding: 10px;
        }
        
        .author p {
            color: #f1f1f1;
            text-align: center;
            font-size: 0.8rem;
        }
        /* This applies to laptops, larger tablets... from 769-1279px */
        
        @media (min-width: 769px) {
            header {
                min-height: 450px;
            }
            header h1 {
                font-size: 3rem;
            }
            .appointment {
                display: block;
                width: 13%;
                padding: 10px 5px;
                margin-left: 25px;
                border: none;
                background: linear-gradient(-15deg, #338AFF, #3CF0C5);
                text-align: center;
                line-height: 30px;
                border-radius: 50px;
                color: #f1f1f1;
            }
            .logo img {
                width: 160px;
                height: auto;
            }
            .hamburger {
                display: none;
            }
            .nav-menu {
                flex-direction: row;
                position: absolute;
                top: 0;
                right: 0;
                background: none;
                gap: 0px;
                width: 70%;
                padding-right: 20px;
            }
            .nav-link {
                display: flex;
                justify-content: flex-end;
            }
            .offer_section h1,
            .form_section h1 {
                font-size: 2rem;
            }
            .offer_section h2 {
                font-size: 1.5rem;
            }
            .offer_container {
                flex-direction: row;
                gap: 15px;
            }
            .offer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30%;
                flex-wrap: wrap;
                text-align: center;
            }
            .offer img {
                width: 50px;
            }
            .offer-img {
                display: flex;
                justify-content: center;
            }
            textarea,
            input {
                width: 50%;
            }
            input[type=submit] {
                width: 20%;
            }
            #map {
                display: flex;
                height: 250px;
                width: 80%;
                border-radius: 8px;
            }
            .grid-item3 {
                place-self: center;
            }
            .grid-container {
                grid-template-columns: 1fr 1fr 2fr;
                grid-gap: 50px;
            }
            .contact p {
                font-size: 1rem;
            }
            .openinghours td {
                font-size: 1rem;
            }
        }
        /* This applies to large screens from 1280px */
        
        @media (min-width: 1280px) {
            header {
                min-height: 550px;
            }
            header h1 {
                font-size: 4.5rem;
            }
            .appointment {
                font-size: 1.2rem;
                color: #f1f1f1;
                background: linear-gradient(-15deg, #338AFF, #3CF0C5);
                text-align: center;
                line-height: 30px;
                border-radius: 50px;
            }
            .menu li {
                font-size: 1.5rem;
            }
            .menu {
                height: 80px;
            }
            .logo img {
                width: 210px;
            }
            body p {
                font-size: 1.4rem;
            }
            .offer_section h1,
            .form_section h1 {
                padding: 25px 50px;
                font-size: 3rem;
            }
            .offer_intro {
                padding: 0px 50px;
            }
            .offer_container {
                padding: 25px 100px 100px 100px;
            }
            .form_container {
                display: grid;
                grid-template-columns: 2fr 1.5fr;
                border-top: #012236 solid 2px;
                align-items: center;
            }
            .form {
                padding: 25px 0px 25px 0px;
                border-top: none;
                width: 100%;
            }
            .form_img img {
                padding: 50px;
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
            form {
                padding: 0px 50px;
            }
            label {
                font-size: 1.5rem;
            }
            input,
            textarea {
                width: 80%;
            }
            input[type=submit] {
                width: 20%;
                font-size: 1.5rem;
            }
            #map {
                width: 60%;
                height: 90%;
            }
            .form_img img {
                display: flex;
            }
            .contact p,
            h4 {
                font-size: 1.4rem;
            }
            .openinghours td,
            th {
                font-size: 1.4rem;
            }
            .fa-brands {
                font-size: 3rem;
            }
            .grid-item3 {
                grid-column-start: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                align-self: start;
            }
            .author p {
                font-size: 1rem;
            }
        }